body{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    object-fit: cover;
    position:absolute;
    background-color: rgba(126, 112, 112, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}
  


.frame{
     background: rgba(7, 7, 7, 0.1);
     min-height: 80px;
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     z-index: 100;
     height: 80px;
     /* opacity: 0; */
     /* visibility: hidden;
     pointer-events: none; */
   }

    


.frame a{
    line-height:80px;
    color: #fff;
    align-items: center;
    position:absolute;
    margin-right: 3rem;
    left: 6rem;
    font-size: 32px;
    font-weight: 800;
    float: left;
    background: transparent;

}

.main-banner nav ul li{
    margin:1rem ;
    text-decoration: none;
    color: #967c66;
    display: flex;
    list-style: none;
    float: inline-start;
    position:relative;
    float: right;
    margin-top: 100px;
   margin-right: 0px;
    background-color: transparent;
/* -webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s; *
    /* z-index: 999; */
    



}

#bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative;




}
.navy{
    
    float: right;
    width: 50%;
}

.navy nav ul li {
    text-decoration: none;
    color: rgb(238, 61, 61);
    display: flex;
    list-style: none;
    font-size: 20px;
    z-index: 10;
   
    /* position:relative; */
}
nav{
    height: 5rem;
    background-color: red;
}






    /* float: right; */
    /* margin-top: 27px; */
    /* margin-right: 0px; */
    /* background-color: transparent; */
    /* background-color: rgb(1, 9, 15); */
    /* position: absolute;
    font-weight: 400;
    font-size: 16px;
    float: left; */


    .middle-word{
      margin-top:150px;
      font-size: 54px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
      font-family:'Poppins', sans-serif;
      display:grid;
      position:relative;
      /* float: right; */
      
    

    }

    .member-button a{
        display: inline-block;
        font-size: 15px;
        padding: 2px 8px;
        background-color: #ed563b;
        color: #fff;
        text-align: center;
        font-weight: 400; 
        display:grid;
        position:relative;
        left: 38rem;
        text-decoration: none;
        bottom: 3rem;

    }

    .sign-button a{
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        padding: 11px 17px;
        background-color: #ed563b;
        color: #fff;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0px;
        transition: all .3s;
        height: auto;
        line-height: 20px;
        margin-left: 70rem;
        position: absolute;
        margin-top: 1rem;

      }


    .work-hard h4{
        /* margin-top: 0; */
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        letter-spacing: 0.5px;
        /* margin-bottom: 30rem; */
        text-align: center;
        display:grid;
        position:relative;
        top: 11rem;
    
    }

    .logo em{
         font-style: normal;
         color: #ed563b;
         font-weight: 900;

    }