.section{
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 3rem;
}

.img p{
    margin-top: 50px;
}

.form{
    width: 500px;
    height: 500px;
    background-color: rgb(238, 229, 229);
    
    
}

#email{
    height: 25px;
    width: 250px;
    border-radius: 0.3rem;
    
}
.email{
    display: flex;
    margin-bottom: 10px;

}


#password{
    height: 25px;
    width: 250px;
    border-radius: 0.3rem;



}

.style{
    justify-content: space-between;
}

.password{
    display: flex;
    margin-bottom: 10px;

}

#remember{
    
}



